@media screen and (max-width: 900px) and (min-width: 300px){

    *{
        margin: 0;
        box-sizing: border-box;
    }




    /*BODY SECTION*/

    body{
        background: #0f0c29;  
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    }

    .body2{
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        margin-top: 20px;
    }






     /*HEADER SECTION*/

    header{
        background: transparent;
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header > a{
        background: transparent;
        text-decoration: none;
        margin-left: 20px;
    }

    header > a > h1 {
        background: transparent;
        color: rgb(238, 238, 238);
        font-size: 40px;
        margin-top: 9px;
        text-shadow: 0px 0px 9px rgba(255, 255, 255, 0.288);
    }






     /*PROFILE SECTION*/

    .profile-ph{
        width: 60px;
        height: 60px;
        margin: 20px 16px 0px 0px;
        border: 2px solid rgb(129, 119, 59);
        border-radius: 50%;
    }
    
    .profile-ph > a{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        object-fit: cover;
    }

    .profile-ph > a > img{
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
    }



    

    .container {
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.089);
        box-shadow: 0 0 5px 3px rgba(129, 119, 59, 0.315);
    }

    .container2 {
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      
    }
    
    .timer-display {
        width: 100%;
        color: rgb(238, 238, 238);
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }
    
    .buttons {
        width: 100%;
        margin: 20px 0 0 0;
        display: flex;
        justify-content: space-around;
    }
    
    .buttons button {
        width: 120px;
        height: 45px;
        box-shadow: 0 0 7px 2px rgba(255, 255, 255, 0.288);
        background: transparent;;
        border: none;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        color: rgb(238, 238, 238);
        margin: 0 10px;
    }
    
    .buttons button:nth-last-child(2) {
        box-shadow: 0 0 7px 2px rgba(255, 255, 255, 0.288);
        background: transparent;
    }
    
    .buttons button:nth-last-child(1) {
        box-shadow: 0 0 7px 2px rgba(255, 255, 255, 0.288);
        background: transparent;
    }
    
    .buttons button:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    }


    .observacion{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        width: 100%;
        height: 120px;
        padding: 10px;
        margin-bottom: 10px;
        
    }

    .observacion > h3{
        color: rgb(238, 238, 238);
        font-size: 20px;
    }

    .observacion > textarea{
        margin-top: 5px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.171);
        border: none;
        box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.068);
    }

    .observacion > textarea::placeholder{
        color: rgb(170, 170, 170);
        font-size: 12px;
        
    }


    .boton-e > input {
        width: 200px;
        height: 50px;
        background-color: rgba(83, 83, 83, 0.171);
        border: 2px solid rgba(67, 129, 59, 0.459);
        box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.288);
        color: rgb(238, 238, 238);
        font-size: 18px;
        border-radius: 5px;
    }


     

}
