@media screen and (max-width: 900px) and (min-width: 300px){

    *{
        margin: 0;
        box-sizing: border-box;
    }

    body{
        background: #0f0c29;  
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    }

    header{
        background: transparent;
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header > a{
        background: transparent;
        text-decoration: none;
        margin-left: 20px;
    }

    header > a > h1 {
        background: transparent;
        color: rgb(238, 238, 238);
        font-size: 40px;
        margin-top: 9px;
        text-shadow: 0px 0px 9px rgba(255, 255, 255, 0.288);
    }

    .profile-ph{
        width: 70px;
        height: 70px;
        margin: 20px 16px 0px 0px;
        border: 2px solid rgb(129, 119, 59);
        border-radius: 50%;
    }
    
    .profile-ph > a{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        object-fit: cover;
    }

    .profile-ph > a > img{
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .body-2{
        width: 100%;
        height: 80vh;
        margin: 30px 0 0 0;
    }

    .best-time{
        padding: 5px;
        width: 100%;
        height: 40px;
    }

    .best-time > h3{
        color: rgb(230, 212, 113);
        margin: 20px 0 0 10px;
        font-size: 22px;
    }

    .tabla-rec-sem{
        width: 100%;
        background: transparent;
        margin-top: 25px;
        height: 260px;
        overflow: scroll;
    }

    .user{
        padding: 5px;
        width: 100%;
        height: 60px;
        background: rgba(238, 238, 238, 0.027);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 4px 0;
        border-top: 1px solid rgba(238, 238, 238, 0.096);
        border-bottom: 1px solid rgba(238, 238, 238, 0.096);
    }

    .user-picture{
        width: 60px;
        height: 60px;
        object-fit: cover;
        display: flex;
        border: 1px solid rgb(129, 119, 59);
        border-radius: 50%;
    }

    .user-picture > img{
        border-radius: 50%;
        width: 100%;
    }

    .user-name > span{
        color: rgba(255, 255, 255, 0.918);
        font-size: 17px;
        
    }

    .user-time > span{
        color: rgba(189, 255, 136, 0.918);
        font-size: 17px;
        
    }

    .button{
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-top: 1px solid rgba(238, 238, 238, 0.219);
        border-bottom: 1px solid rgba(238, 238, 238, 0.219);
        box-shadow: 0px 4px 7px rgba(230, 212, 113, 0.062);
    }

    .button-image > span{
        color: rgb(238, 238, 238);
        font-size: 30px;
    }

    .button-name > span{
        color: rgba(189, 255, 136, 0.918);
        font-size: 17px;
        margin-right: 15px;
    }

    .button-config{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 230px;
    }

}